<template>
  <div>
    <journal ref="child" :value="value" @doSomething="goJournals" />
  </div>
</template>

<script>
import journal from '@/components/Log/index'
export default {
  components: {
    journal
  },
  data() {
    return {
      value: '查看全部'
    }
  },
  mounted() {
    this.$refs.child.queryLogInfo(1, 5)
  },
  methods: {
    goJournals() {
      this.$router.push('/logs/monitor')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
