<template>
  <div class="dashboard-container">
    <el-row :gutter="0">
      <el-col :sm="{span: 16, offset: 4}" :xs="{span: 22, offset: 1}">
        <journal ref="child" :value="value" @doSomething="clearLog">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="totalList"
            style="margin-top: 10px;text-align: center;"
            @prev-click="lastPage"
            @next-click="nextPage"
            @current-change="changePage"
          />
        </journal>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { queryLog, deleteLog } from '@/api/log'
import { mapGetters } from 'vuex'
import journal from '@/components/Log/index'
export default {
  components: {
    journal
  },
  data() {
    return {
      value: '清空日志',
      logInfo: [],
      totalList: 0
    }
  },
  mounted() {
    this.getTotal()
    this.$refs.child.queryLogInfo(1, 10)
  },
  computed: {
    ...mapGetters(['userId'])
  },
  methods: {
    async getTotal() {
      const data = {
        userId: this.userId,
        page: 1,
        size: 1000
      }
      const logInfo = await queryLog(data)
      this.totalList = logInfo.hits.length
    },
    lastPage(val) {
      this.$refs.child.queryLogInfo(val, 10)
    },
    nextPage(val) {
      this.$refs.child.queryLogInfo(val, 10)
    },
    changePage(val) {
      this.$refs.child.queryLogInfo(val, 10)
    },
    // 清空日志
    clearLog() {
      this.$confirm('此操作将永久删除当前所有操作日志, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error'
      })
        .then(async() => {
          const data = {
            userId: this.userId
          }
          await deleteLog(data)
          this.$refs.child.queryLogInfo(1, 10)
        })
        .catch(() => {
          this.$message({
            type: 'success',
            message: '已取消删除'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin-top: 50px;
  }
}
</style>
